@model IEnumerable<FreewayIT.Test.DAL.Employee>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employees Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            City
        </th>
        <th>
        <th>Miesiąc urodzenia</th>
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <th>@Html.DisplayFor(modelItem => item.BirthMonth)</th>
        <td>
            @Html.DisplayFor(modelItem => item.City.Name)
        </td>
       
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ID })
        </td>
    </tr>
}

</table>

    @Html.ActionLink("Cities", "Index", "City")

